TN:
SF:example.rb
FNF:2
FNH:0
FN:3,(exampleFunction1)
FN:7,(exampleFunction2)
FNDA:0,(exampleFunction1)
FNDA:0,(exampleFunction2)
DA:1,0
DA:2,0
DA:3,0
DA:4,0
DA:5,0
DA:6,0
DA:7,0
DA:8,0
DA:9,0
DA:10,0
LH:0
LF:0
end_of_record